@charset "UTF-8";

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Pitch Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/pitchsans-medium-webfont.woff2") format("woff2"),
        url("../fonts/pitchsans-medium-webfont.woff") format("woff");
}

:root {
    --rounded: 0rem;
}

/* html {
    font-family: "GT America";
    font-style: normal;
    font-weight: 400;
} */