@charset "UTF-8";

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Pitch Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/pitchsans-medium-webfont.woff2") format("woff2"),
        url("../fonts/pitchsans-medium-webfont.woff") format("woff");
}

html {
    font-size: 100%;
    cursor: none;
}

:root {
    --doc-height: 100%;
    --black: #1d1d1b;
    --white: #ffffff;
    --background: #f2ece7;
    --side-background: #f2ece7;
    --main-color: #f2ece7;
    --acc-color: #f2ece7;
    --body-text-font: "GT America";
    --body-text-size: 1rem;
    --secondary-text-font: "GT Cinetype";
    --secondary-text-size: .8rem;
    --title-font: "GT America";
    --title-size: 2rem;
    --big-title-font: "GT America";
    --big-title-size: 6rem;
    --huge-title-font: "GT America";
    --huge-title-size: calc(1rem + 8vw);
    --label-text-font: "Pitch Sans";
    --label-text-size: .8rem;
    --header-text-font: "GT Cinetype";
    --header-text-size: 1.5rem;
    --main-margin: 4rem;
    --half-margin: 2.5rem;
    --double-margin: 8rem;
    --small-margin: 1rem;
    --nav-height: 3rem;
    --button-size: 2rem;
    --border: solid 1px var(--black);
}

body {
    width: 100%;
    min-height: var(--doc-height);
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--black);
    background: var(--background);
    background-attachment: fixed;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

button {
    background-color: transparent;
    border: none;
}

.text {
    font-family: var(--body-text-font);
    font-size: var(--body-text-size);
    text-indent: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text-subtext {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text-label {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    line-height: 110%;
}

.text-caption {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    line-height: 110%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text a,
.text-subtext a,
.text-caption a {
    text-decoration: underline;
}


.button {
    width: var(--button-size);
    height: var(--button-size);
}

.button svg {
    height: 100%;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--half-margin);
    position: fixed;
    top: var(--half-margin);
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.header h1 {
    font-family: var(--header-text-font);
    font-size: var(--secondary-text-size);
    font-weight: 600;
    text-transform: uppercase;
    pointer-events: all;
    min-width: 20%;
}

.letter {
    display: inline-block;
    position: relative;
}

.logo-element {
    display: none;
    margin: 0 1rem;
}

.header-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    pointer-events: all;
}

.header-button-wrapper .button {
    width: fit-content;
    min-width: 0%;
    border: var(--border);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2rem);
    transition: all .3s ease;
}

.header-button-wrapper span {
    display: none;
}

.header-button-wrapper .button:hover {
    min-width: 100%;
    padding-left: 1rem;
}

.header-button-wrapper .button:hover span {
    display: block;
}

.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    border-top: var(--border);
    z-index: 4;
}

.nav {
    width: 100%;
    height: var(--nav-height);
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--half-margin);
}

.nav.--hide {
    display: none;
}

.nav-menu {
    display: flex;
    cursor: pointer;
}

.nav-menu.lang {
    gap: 1rem;
}

.nav-menu.menu {
    gap: 6rem;
}

.menu-element.--target,
.menu-element.--current {
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: auto;
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    display: none;
    background: var(--main-color);
}

.banner.--display {
    display: block;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: var(--half-margin) var(--main-margin);
}

.contact-block p a {
    text-decoration: underline;
}

.banner-button {
    position: absolute;
    top: var(--button-size);
    right: var(--main-margin);
    transform: translateY(-4rem);
    border: var(--border);
    background-color: var(--main-color);
}

.slider {
    width: calc(50% + var(--button-size));
    height: var(--doc-height);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.slider.--display {
    display: block;
}

.slider-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: flex;
    transform: translateX(100%);
    transition: transform .5s ease;
}

.slider-wrapper.--translateX {
    transform: translateX(0%);
}

.slider-button {
    position: sticky;
    top: var(--main-margin);
    transform: translateX(1px);
    border: var(--border);
    background-color: var(--acc-color);
    opacity: 0;
    transition: opacity .5s ease;
}

.slider-button.--opacity {
    opacity: 1;
}

.slider-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--half-margin);
    padding-top: var(--main-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
    background-color: var(--acc-color);
    border-left: var(--border);
    overflow-y: scroll;
    scrollbar-width: none;
}

.slider-content::-webkit-scrollbar {
    display: none;
}

.slider-block {
    display: flex;
    flex-direction: column;
    gap: var(--half-margin);
}

.slider-block-title {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
    margin-bottom: var(--half-margin);
}

.slider-block-title h2 {
    overflow-wrap: break-word;
}

/* .slider-block-text {
    display: flex;
    justify-content: space-between;
}

.slider-block-text .text-label {
    width: 15%;
}

.slider-block-text .text {
    width: 75%;
} */

.main {
    transition: filter .5s ease-in;
}

.main.--blur {
    filter: blur(1rem);
}

.grid-layout,
.cover-layout {
    height: var(--doc-height);
    overscroll-behavior: none;
    display: flex;
    flex-wrap: nowrap;
}

.grid-layout-item,
.cover-layout-item {
    height: var(--doc-height);
    position: relative;
    padding-bottom: calc(var(--nav-height) + var(--half-margin));
}

.grid-layout-item {
    writing-mode: vertical-rl;
    padding-top: var(--double-margin);
    padding-right: var(--half-margin);
    padding-left: var(--half-margin);
    border-right: var(--border);
}

.cover-layout-item {
    min-width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: var(--main-margin);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.grid-layout-item h2,
.cover-layout-item h2 {
    font-family: var(--huge-title-font);
    font-size: var(--huge-title-size);
    font-weight: 200;
    line-height: 1;
}

.grid-layout-item h2 {
    transform: rotate(180deg);
}

.cover-layout-item h2 {
    max-width: 75%;
}

/* .cover-button {
    position: absolute;
    bottom: calc(var(--nav-height) + var(--main-margin));
    right: var(--half-margin);
    z-index: 2;
} */

.gallery {
    /* height: auto; */
    position: relative;
}

.gallery-wrapper {
    /* height: var(--doc-height);
    overflow-y: hidden; */
    display: flex;
}

.gallery-grid {
    width: 100%;
    /* height: auto; */
    display: grid;
    grid-auto-flow: dense;
    grid-gap: var(--half-margin);
}

.gallery-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: start stretch;
}

.gallery-item figcaption {
    display: flex;
    flex-direction: column;
    gap: var(--label-text-size);
}

.gallery-item.--filtered img,
.gallery-item.--filtered video,
.gallery-item.--filtered audio {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
    filter: grayscale(0);
}

.gallery-item.--unfiltered img,
.gallery-item.--unfiltered video,
.gallery-item.--unfiltered audio {
    max-width: 10%;
    min-width: 10%;
    object-fit: contain;
    filter: grayscale(1);
}

.gallery-item img,
.gallery-item video,
.gallery-item audio {
    width: 100%;
    transition: all .3s ease;
}

.gallery-item.--unfiltered figcaption.--display {
    display: none;
}

.gallery-item.--unfiltered figcaption div.--opacity {
    opacity: 0;
}

.gallery-item.--filtered figcaption.--display {
    display: flex;
}

.gallery-item.--filtered figcaption div.--opacity {
    opacity: 1;
}

.box-container {
    position: fixed;
    bottom: calc(var(--nav-height) + var(--half-margin));
    left: var(--half-margin);
}

.box {
    position: absolute;
    pointer-events: none;
}

.box:first-of-type {
    bottom: calc(var(--button-size) + 1rem);
}

.box:last-of-type {
    bottom: 0;
}

.filter-button {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: all;
    transform: scale(1);
    transform-origin: bottom left;
    transition: transform .3s ease-out, opacity .5s ease;
}

.filter-button.--scale-out {
    transform: scale(0);
}

.inner-box {
    width: 500px;
    height: auto;
    color: var(--white);
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    pointer-events: none;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform .3s ease-in;
}

.inner-box.--scale-in {
    pointer-events: all;
    transform: scale(1);
}

.inner-box-column {
    align-self: stretch;
    justify-self: stretch;
    outline: solid 1px #fff;
    outline-offset: -0.5px;
    opacity: 0;
    transition: opacity .5s ease;
}

.inner-box-column.grid-span-1 {
    grid-column: span 1;
}

.inner-box-column.grid-span-2 {
    grid-column: 1 / span 2;
}

.inner-box-column.--opacity {
    opacity: 1;
}

.inner-box-header {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    padding: var(--small-margin) var(--half-margin);
    border-bottom: solid 1px var(--white);
}

.inner-box-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: var(--small-margin) var(--half-margin);
}

.deselect-filters {
    display: none;
    padding: 1rem;
}

.deselect-filters.--display {
    display: block;
}

.deselect-filters p {
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease;
}

.deselect-filters.--opacity p {
    opacity: 1;
}

.read-more-button {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    text-align: end;
    color: var(--white);
    cursor: pointer;
}

.x-button {
    position: absolute;
    top: var(--half-margin);
    right: -2rem;
    opacity: 0;
    transition: opacity .5s ease;
}

.x-button.--opacity {
    opacity: 1;
}

.filter {
    cursor: pointer;
}

.filter.--target {
    text-decoration: underline;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--secondary-text-size);
    height: var(--secondary-text-size);
    border-radius: 50%;
    background: #1d1d1b;
    z-index: 999;
    pointer-events: none;
    display: none;
}

.follower {
    font-family: var(--header-text-font);
    font-size: var(--secondary-text-size);
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
    display: none;
}