@charset "UTF-8";

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "GT Cinetype";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/GT-Cinetype-Bold-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT America";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Pitch Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Pitch-sans-medium.woff2") format("woff2");
}

html {
    font-size: 100%;
}

:root {
    --doc-height: 100%;
    --black: #1d1d1b;
    --white: #ffffff;
    /* --yellow: #feff8a; */
    --body-text-font: "GT America";
    --body-text-size: 1rem;
    --secondary-text-font: "GT Cinetype";
    --secondary-text-size: .8rem;
    --big-title-font: "GT America";
    --big-title-size: 6rem;
    --huge-title-font: "GT America";
    --huge-title-size: calc(1rem + 8vw);
    --label-text-font: "Pitch Sans";
    --label-text-size: .8rem;
    --header-text-font: "GT Cinetype";
    --header-text-size: 2rem;
    --main-margin: 4rem;
    --half-margin: 2rem;
    --nav-height: 3rem;
    --button-size: 2rem;
    --border: solid 1px var(--black);
}

body {
    width: 100%;
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--black);
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

button {
    background-color: transparent;
}

.button {
    width: var(--button-size);
    height: var(--button-size);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button svg {
    width: var(--body-text-size);
    height: var(--body-text-size);
    stroke: var(--black);
    stroke-width: 1px;
}

.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    border-top: var(--border);
}

.nav {
    width: 100%;
    height: var(--nav-height);
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--nav-height);
    z-index: 2;
}

.nav.--hide {
    display: none;
}

.nav-menu {
    display: flex;
    cursor: pointer;
}

.nav-menu.lang {
    gap: 1rem;
}

.nav-menu.menu {
    gap: 6rem;
}

.menu-element.--target {
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: auto;
    font-family: var(--main-text-font);
    font-size: var(--main-text-size);
    display: none;
    justify-content: space-between;
    align-items: start;
    padding: var(--half-margin) var(--nav-height);
}

.banner.--display {
    display: flex;
}

.banner-block {
    display: flex;
    flex-direction: column;
    gap: var(--secondary-text-size);
}

.banner-button {
    position: absolute;
    top: var(--button-size);
    right: var(--main-margin);
    background-color: var(--white);
    transform: translateY(-4rem);
}

.banner-block,
.banner-button {
    opacity: 0;
    transition: opacity .5s ease;
}

.banner-block.--opacity,
.banner-button.--opacity {
    opacity: 1;
}

.slider {
    width: calc(50% + var(--button-size));
    height: var(--doc-height);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

.slider.--display {
    display: block;
}

.slider-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: flex;
    transform: translateX(100%);
    transition: transform .5s ease;
}

.slider-wrapper.--translateX {
    transform: translateX(0%);
}

.slider-button {
    position: sticky;
    top: var(--main-margin);
    background-color: var(--white);
    transform: translateX(1px);
    opacity: 0;
    transition: opacity .5s ease;
}

.slider-button.--opacity {
    opacity: 1;
}

.slider-content {
    width: 100%;
    height: auto;
    padding: var(--main-margin);
    border-left: var(--border);
    background-color: var(--white);
    overflow-y: scroll;
}

.block-title {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
    margin-bottom: var(--main-margin);
}

.block-text {
    display: flex;
    justify-content: space-between;
}

.text-label {
    width: 15%;
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
}

.text {
    width: 75%;
    font-family: var(--body-text-font);
    font-size: var(--body-text-size);
    text-indent: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text:last-child {
    margin-bottom: var(--nav-height);
}

.main {
    width: 100%;
    height: var(--doc-height);
    position: relative;
    overflow: hidden;
    transition: filter .5s ease;
}

.main.--random {
    display: none;
}

.main.--blur {
    filter: blur(2rem);
}

.scroll-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.grid-layout-title {
    height: var(--doc-height);
    writing-mode: vertical-rl;
    padding: 5rem 2rem;
    scroll-snap-align: center;
}

.grid-layout-title:not(:last-child) {
    border-right: var(--border);
}

.grid-layout-title h2 {
    font-family: var(--huge-title-font);
    font-size: var(--huge-title-size);
    font-weight: 200;
    line-height: 1;
    transform: rotate(180deg);
}

.cover-layout-wrapper {
    display: flex;
    overflow-x: scroll;
}

.cover-layout-title {
    min-width: 100vw;
    width: 100vw;
    height: var(--doc-height);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5rem var(--main-margin);
}

.cover-layout-title:nth-child(even) {
    background-color: cadetblue;
}

.cover-layout-title:nth-child(odd) {
    background-color: lightcoral;
}

.cover-layout-title h2 {
    max-width: 75%;
    font-family: var(--huge-title-font);
    font-size: var(--huge-title-size);
    font-weight: 200;
    line-height: 1;
}

.cover-button {
    position: absolute;
    bottom: 6rem;
    right: var(--main-margin);
    background-color: var(--black);
}

.cover-button svg {
    stroke: var(--white);
}