html,
body {
    overflow: hidden;
}

.project-layout {
    height: var(--doc-height);
    overflow-y: hidden;
    display: flex;
}

.gallery {
    width: calc(50% - var(--button-size));
    max-width: calc(50% - var(--button-size));
    height: auto;
    position: relative;
    transition: max-width .75s ease;
}

.gallery-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: flex;
}

.gallery-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-gap: var(--half-margin);
    padding-top: var(--double-margin);
    padding-right: calc(var(--main-margin) - var(--button-size));
    padding-bottom: var(--main-margin);
    padding-left: var(--main-margin);
    margin-bottom: var(--nav-height);
    overflow-y: scroll;
    transition: .15s;
}

.gallery-grid::-webkit-scrollbar {
    display: none;
}

.gallery.--width {
    width: 100%;
    max-width: 100%;

}

.gallery-grid.--change-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-right: var(--main-margin);
}

.gallery-item {
    position: sticky;
}

.gallery-item img {
    width: 100%
}

.info {
    width: calc(50% + var(--button-size));
    height: auto;
    position: relative;
}

.info.--hide {
    display: none;
}

.info-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: flex;
    transition: all .5s ease;
}

.info-wrapper.--translateX {
    transform: translateX(100%);
}

.info-content {
    width: 100%;
    height: auto;
    padding: var(--main-margin);
    border-left: var(--border);
    overflow-y: scroll;
}

.info-content::-webkit-scrollbar {
    display: none;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: calc(var(--nav-height) + var(--half-margin));
    left: var(--half-margin);
}

.info-preview-wrapper {
    position: relative;
}

.info-open-button {
    position: absolute;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
    transform-origin: bottom left;
    transition: transform .3s ease-out, opacity .5s ease;
}

.info-open-button.--opacity {
    opacity: 1;
    pointer-events: all;
}

.info-open-button.--scale-out {
    transform: scale(0);
    pointer-events: all;
}

.info-preview {
    width: 500px;
    height: auto;
    color: var(--white);
    background-color: var(--black);
    border: solid 1px var(--white);
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform .3s ease-in;
}

.info-preview.--scale-in {
    pointer-events: all;
    transform: scale(1);
}

.info-preview-header {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    padding: var(--half-margin);
    border-bottom: solid 1px var(--white);
}

.info-preview-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: var(--half-margin);
}

.preview-text {
    font-family: var(--body-text-font);
    font-size: var(--body-text-size);
    text-indent: 2.5rem;
}

.preview-button {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    text-align: end;
    cursor: pointer;
}

.info-preview-button {
    position: absolute;
    top: var(--main-margin);
    right: -2rem;
}

.info-preview-header,
.info-preview-content,
.info-preview-button {
    opacity: 0;
    transition: opacity .5s ease;
}

.info-preview-header.--opacity,
.info-preview-content.--opacity,
.info-preview-button.--opacity {
    opacity: 1;
}