.main {
    width: 100%;
    overflow: hidden;
}

.grid-layout {
    height: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    display: block;
    padding-top: var(--double-margin);
}

section.vertical .grid-layout-item {
    height: 15vw;
    display: flex;
    align-items: flex-end;
}

.grid-layout-item {
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    /* padding-top: var(--main-margin); */
    padding-right: 0;
    padding-bottom: var(--small-margin);
    padding-left: 0;
    border-right: none;
    border-bottom: var(--border-black);
}

.grid-layout-item .item-title {
    flex-wrap: nowrap;
    gap: var(--main-margin);
}

.grid-layout-item h2 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    /* width: calc(100% - var(--main-margin)*2);
    display: flex;
    gap: var(--main-margin); */
}