.main {
    display: flex;
    flex-direction: column;
    gap: var(--main-margin);
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
    /* margin-bottom: var(--nav-height); */
}

/* .intro {
    font-family: var(--title-font);
    font-size: var(--title-size);
    line-height: 110%;
} */