.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--main-margin);
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
}

.accordion {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.accordion.--filtered {
    pointer-events: all;
    color: var(--black);
    opacity: 1;
}

.accordion.--unfiltered {
    pointer-events: none;
    color: #1d1d1b50;
    opacity: .25;
}

.accordion-divider {
    border-top: var(--border-black);
    padding: .5rem 0;
}

.accordion-topbar {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    row-gap: 1rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    border-top: var(--border-black);
    padding: .5rem 0;
    cursor: pointer;
}

.topbar-item:last-child {
    -ms-grid-column-align: end;
    justify-self: end;
    text-align: end;
}

.accordion.--ongoing .accordion-topbar,
.accordion:last-of-type .accordion-topbar {
    border-bottom: var(--border-black);
}

.accordion-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--half-margin);
}

.accordion-text,
.accordion-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.accordion-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .5rem;
    margin: var(--small-margin) 0 var(--half-margin) 0;
    cursor: pointer;
}

.accordion-title h3 {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
}

.accordion-image {
    display: none;
    margin-top: var(--half-margin);
}

.accordion-image img {
    min-width: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.accordion-content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--half-margin);
    margin-bottom: var(--half-margin);
}

.--open .accordion-topbar {
    border-bottom: var(--border-black);
}

.--open .accordion-image {
    display: block;
}

.--open .accordion-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.--open .topbar-title {
    display: none;
}