.main {
    height: auto;
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: var(--main-margin);
    padding-left: var(--main-margin);
    margin-bottom: var(--nav-height);
}

.accordion {
    transition: color .5s ease;
}

.accordion.--filtered {
    pointer-events: all;
    color: var(--black);
    opacity: 1;
}

.accordion.--unfiltered {
    pointer-events: none;
    color: #1d1d1b50;
    opacity: .25;
}

.accordion-topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 2rem;
    border-top: var(--border);
    padding: .5rem 0;
    cursor: pointer;
}

.accordion.--ongoing .accordion-topbar,
.accordion:last-of-type .accordion-topbar {
    border-bottom: var(--border);
}

.accordion-items {
    display: flex;
    justify-content: space-between;
    gap: var(--half-margin);
}

.accordion-text,
.accordion-image {
    flex: 1 1;
}

.accordion-title {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: var(--half-margin) 0;
    cursor: pointer;
}

.accordion-title h3 {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
}

.accordion-image {
    display: none;
    margin-top: var(--half-margin);
}

.accordion-image img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.accordion-content {
    display: none;
    flex-direction: column;
    gap: var(--half-margin);
    margin-bottom: var(--half-margin);
}

.--open .accordion-topbar {
    border-bottom: var(--border);
}

.--open .accordion-image {
    display: block;
}

.--open .accordion-content {
    display: flex;
}

.--open .accordion-topbar-title {
    display: none;
}

.accordion-content-block {
    opacity: 0;
    transition: opacity .5s ease;
}

.--open .accordion-content .accordion-content-block {
    opacity: 1;
}