.gallery {
    min-width: 100%;
    max-width: 100%;
}

.gallery-grid {
    padding-right: var(--main-margin);
}

.gallery-item figcaption {
    display: flex;
}

.gallery-item figcaption div {
    opacity: 1;
}