.main {
    height: auto;
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: var(--main-margin);
    padding-left: var(--main-margin);
    margin-bottom: var(--nav-height);
    display: flex;
    flex-direction: column;
    gap: var(--main-margin);
}

.intro {
    font-family: var(--title-font);
    font-size: var(--title-size);
    line-height: 110%;
}

.gallery {
    width: 100%;
}

.gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    /* overflow-y: hidden; */
}