.main {
    height: auto;
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: var(--main-margin);
    padding-left: var(--main-margin);
    margin-bottom: var(--nav-height);
    display: flex;
    flex-direction: column;
    gap: var(--main-margin);
}

.intro {
    font-family: var(--title-font);
    font-size: var(--title-size);
    line-height: 110%;
}

.gallery {
    min-width: 100%;
    max-width: 100%;
}

.gallery-grid {
    padding: 0;
    overflow-y: hidden;
}

.gallery-item figcaption {
    height: auto;
    max-height: unset;
    opacity: 1;
}